name: deploy-py-lambda
on:
  push:
    branches: 
      - eddiez0719-patch-1

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Deploy code to Lambda
      uses: alpine-docker/cfn-linter@v1.0
      with:
        lambda_layer_arn: 'arn:aws:lambda:ap-southeast-2:640656035841:layer:my-layer'
        lambda_function_name: 'test_function'
        zipfile: Sample.py.zip 
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: 'ap-southeast-2'
