name: CI to Docker Hub
on:
  schedule:
    - cron: '0 8 * * *'
  push:
    branches: [ main ]
jobs:

  build:
    runs-on: ubuntu-latest
    
    steps:

          - name: Check Out Repo 
            uses: actions/checkout@v2

          - name: Login to Docker Hub
            uses: docker/login-action@v1
            with:
              username: ${{ secrets.DOCKER_HUB_USERNAME }}
              password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

          - name: Set up Docker Buildx
            id: buildx
            uses: docker/setup-buildx-action@v1

                  
          - name: Build docker images and push
            run: ./find_latest.sh
          
#           - name: Tag latest
#             id: docker_build
#             uses: docker/build-push-action@v2
#             with:
#               context: ./
#               #file: ./Dockerfile
#               push: push
#               tags: eddieorg/cfn-lint:latest
          
#           - name: Validate YAML file
#             run: docker run --rm -v `pwd`:/data eddieorg/cfn-lint:latest /data/vpc.yaml
          
          - name: Image digest
            run: echo ${{ steps.docker_build.outputs.digest }}
    
            
